---

- name: clone mediawiki
  git: repo=https://gerrit.wikimedia.org/r/p/mediawiki/core.git
       dest=/srv/mediawiki
       version={{mediawiki_version|default('HEAD')}}
       depth=1

- name: add composer PPA on Ubuntu
  apt_repository: repo="ppa:duggan/composer"
  when: ansible_distribution == 'Ubuntu'
  tags: php

- name: install composer
  apt: name=composer
       state=present
       default_release='unstable' # Composer is still only in unstable
  when: ansible_distribution == 'Debian'
  tags: php

- name: install composer
  apt: name=php5-composer
       state=present
  when: ansible_distribution == 'Ubuntu'
  tags: php

- name: install mediawiki dependencies
  shell: composer install --no-dev chdir=/srv/mediawiki

- include: mysql.yml
  when: db.connection == "mysql"

- name: install mediawiki skins
  git: repo=https://gerrit.wikimedia.org/r/mediawiki/skins/{{item}}
      dest=/srv/mediawiki/skins/{{item}}
  with_items:
  - Vector

- name: install mediawiki
  command: php /srv/mediawiki/maintenance/install.php
    --dbname {{mediawiki_db.name}}
    --dbuser {{mediawiki_db.user}}
    --dbpass {{mediawiki_db.password}}
    --dbtype {{mediawiki_db.connection}}
    --lang {{language|default('en')}}
    --pass {{admin_user.pass}}
    --scriptpath '{{mediawiki_dir}}'
    {{instance_name}} {{admin_user.name}}
    creates=/srv/mediawiki/LocalSettings.php

- name: enable clean URL's
  lineinfile: dest=/srv/mediawiki/LocalSettings.php
              line='$wgArticlePath = "/$1";'
              regexp='\$wgArticlePath'


- name: copy mediawiki configuration
  template: src=mediawiki.nginx.conf.jinja2 dest=/etc/nginx/sites-available/mediawiki.conf
  notify: reload nginx

- name: enable mediawiki
  file: src=/etc/nginx/sites-available/mediawiki.conf dest=/etc/nginx/sites-enabled/mediawiki.conf state=link
  notify: reload nginx
